body {
    font-family: 'Inknut Antiqua', serif;
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    color:white;
    font-family: 'Inknut Antiqua', serif;
}

p {
    color:white;
    text-align: justify;
}

@media (max-width: 991.98px) {
    #vid {
        aspect-ratio: 16 / 9;
        width: 100%;
    }
}

.boton:hover {
    color: #32C36C;
    cursor: pointer;
}

#mapa {
    width: 80%;
    height: 600px;
}

.altavoz {
    cursor: pointer;
}

.altavoz:hover path {
    stroke: #32C36C;
}

#navBar-container {
    position: fixed; /* Fija el div en la pantalla */
    width: 100%; /* Ocupa todo el ancho */
    z-index: 1000; /* Se asegura de que esté sobre otros elementos */
}