body {
    font-family: 'Inknut Antiqua', serif;
    background-color: black;
}

h1, h2, h3, h4, h5, h6 {
    color:white;
    font-family: 'Inknut Antiqua', serif;
}

p {
    color:white;
    text-align: justify;
}

@media (max-width: 991.98px) {
    .vid {
        aspect-ratio: 16 / 9;
        width: 100%;
    }
}